<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_module.css') }}">
    
</head>
<body>

    <header class="header">
        <h1>Agile Project Management Dashboard</h1>
    </header>
    <div class="reset-password-box">
        <!-- Logo Container -->
        <div class="reset-logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="login-logo">
        </div>

        <h1>Reset Password</h1>

        <!-- Reset Password Form -->
        <form  method="POST">
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="new-password" placeholder="Enter new password" required>

            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password" required>

            <button type="submit">Reset Password</button>
        </form>
    </div>

</body>